div(style="margin:8px")
  div(style="margin:0 0 2px 0")
    label(for="name") your name
  div(style="margin-right:4px")
    input#name.required(name="name", style="margin:0; padding:0; width:100%")
  div(style="margin:4px 0 2px 0")
    label(for="phone") phone (optional)
  div(style="margin-right:4px")
    input#phone(name="phone", style="margin:0; padding:0; width:100%")
  div(style="margin-top:12px")
    input#join(type="button", value="This is me")
