extends layout

block content
  script(src="/javascripts/client/views/CreateApp.js")
  script(src="/javascripts/client/apps/CreateApp.js")
  
  h1#title New Event
  #window(style="width:100%; height:100%")
