extends layout

block content
  script.
    window.rndzvs = {
      user: !{JSON.stringify(user)},
      event: !{JSON.stringify(event)}
    };
  script(src="/javascripts/client/views/GoApp.js")
  script(src="/javascripts/client/apps/GoApp.js")
  
  h1#title #{event.name}
  #window(style="width:100%; height:100%")
