doctype 5
html
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title rndzvs

    link(rel="stylesheet", href="/stylesheets/style.css")
      
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  body
    h1 rndzvs
    
    block content
      div(style="text-align:center; padding:10px")
        input(id="create", type="button", value="Create an event", style="font-size:20pt", onclick="window.location='/create'")
      
      - if (events.length)
        div Events
        ul
        - each event in events
          div
            input(id="create", type="button", value="#{event.name}", onclick="window.location='/go/#{event.code}'")