extends layout

block content
  script
    window.eventObj = !{JSON.stringify(event)}
  script(src="/javascripts/client/views/JoinApp.js")
  script(src="/javascripts/client/apps/JoinApp.js")
  
  h1 Join Event
  #window
