doctype 5
html
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title #{title}
    
    link(rel="stylesheet", href="/stylesheets/style.css")
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=true")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js")
    script(src="/javascripts/client/runtime.js")
    script(src="/javascripts/client/Common.js")
  body
    block content
